# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# =========================
# Environment / Secrets
# =========================
.env
*.env

# =========================
# Project generated data
# =========================
backup/

# =========================
# Iceberg runtime database
# =========================
docker/iceberg-rest/data/

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS
# =========================
Thumbs.db
.DS_Store

# =========================
# Temporary / backup files
# =========================
*.tmp
*.temp
*.bak
